<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="wenlai">

    <title>database-ui</title>

    <!-- Bootstrap core CSS -->
    ${frame-header}
<style type="text/css">
body {
    padding-top: 50px;
}

.starter-template {
    padding: 30px 15px;
    text-align: left;
}

.textarea {
    width: 100%;
    height: 220px;
}
</style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">framework</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/service/ui">API</a>
                </li>
                <li>
                    <a href="/pool-ui">POOL</a>
                </li>
                <li>
                    <a href="/thread-pool-ui">THREAD-POOL</a>
                </li>
                <li>
                    <a href="/thread-ui">THREAD</a>
                </li>
                <li>
                    <a href="/system-ui">SYSTEM</a>
                </li>
                <li>
                    <a href="/tomcat-manager">CONTAINER</a>
                </li>
                <li>
                    <a href="/druid-ui">DATA-SOURCE</a>
                </li>
                <li class="active">
                    <a href="/database-ui">DATA-UI</a>
                </li>
                <li>
                    <a href="/cache-ui">CACHE</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div id="container" style="padding-top : 20px;">
        <div class="starter-template" id="template" style="display : none;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong><a href="javascript:void(0);" onclick="hideShow(this);">${name}</a></strong> &nbsp; &nbsp; ${desctiption}
                </div>
                <div class="panel-body" style="display: none;">
                    <!-- for param : params -->

                    <div class="alert alert-warning" role="alert">
                        <strong>Method : ${method}</strong><br/>
                        <strong> Action : ${action}</strong><br/>
                        <strong><a target="_blank" href="${request_url}">接口详情</a></strong><br/>
                        <strong>数据统一接口处理地址 : &nbsp;
                            <p class="text-danger">/data/service</p>
                        </strong>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

${frame-powered}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
${frame-footer}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script type="text/javascript">
        var data = ${data};
        $(function () {
            var htmlTemplate = $("#template").html();
            if (data != null) {
                for (var index in data) {
                    $("#container").append(build(data[index], htmlTemplate));
                }
            }
        });

        function hideShow(element) {
            var $ele = $(element);
            var $body = $ele.parent().parent().next();
            if ($body.css("display") == "none") {
                $body.show("slow");
            }
            else {
                $body.hide("slow");
            }
        }

        /**
         *
         * @param obj
         * @param htmlTemplate
         * @returns {string|XML}
         */
        function build(obj, htmlTemplate) {
            var $dom = $(htmlTemplate.replace("${method}", obj.method).replace("${action}", obj.actionId).replace("${desctiption}", obj.description).replace(/\$\{request_url}/g, "/database-ui/action?id=" + obj.actionId).replace("${name}", obj.name));
            $dom.css("display", "block");
            return $dom;
        }
	</script>
</body>
</html>